//author styles
 body{
    background-color: $bg-color;
 }

 //wraps around body
 #container {
    width: 100%;
    background-color: $container-color;
 }

 header{
     h1{
         font-family: $display-font;
     }
 }

 p {
     font-family: $body-font;
 }