//author styles
 body{
    background-color: $bg-color;
 }

 //wraps around body
 #container {
    background-color: $container-color;
    width:100%; 
	max-width:1400px;
	margin:0px auto;
	padding:0px;
	box-sizing:border-box;

	display:flex;
	flex-wrap:wrap; 
	flex-direction:row; 
	align-content:flex-start; 
	align-items:stretch;
 }

 header{
     width: 100%;
     text-align: center;
     h1{
         font-family: $display-font;
     }//h1
 }



 p {
     font-family: $body-font;
     padding-left: 20px;
     padding-right: 20px;
 }