@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat&display=swap');

//COLORS
$bg-color: white;
$container-color: rgb(235, 200, 255);

//FONTS
$display-font: 'Cormorant Garamond', serif;
$body-font: 'Montserrat', sans-serif;

//LAYOUT

//STYLE
$round: 10px;