@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat&display=swap');

$display-font: 'Cormorant Garamond', serif;
$body-font: 'Montserrat', sans-serif;

$base-color: rgb(205, 168, 240);
$dark-color: rgb(5, 25, 68);
$contrast-color: rgb(99, 199, 212);

$round: 10px;