@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat&display=swap');

$display-font: 'Cormorant Garamond', serif;
$body-font: 'Montserrat', sans-serif;

$bg-color: white;
$container-color: white;

$round: 10px;